.contact-div1{
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.commantitle{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
.commanp{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.p2{
    width: 60%;
    position: relative;
    left: 21%;
}
.contact-card{
    margin-top: 2rem;
    border-radius: 5px;
    padding: 30px;
    width: 75%;
    border: none;
} 
.formlabel{
    font-weight: 600;
    font-size: 16px;
}
::placeholder{
    color: #A9B1BB;
    font-size: 16px;
    font-weight: 400;
}
.textfield{
    background-color: #FCFCFC;
    border-color: #C7C7C7;
}
.textfield2{
    background-color: #FCFCFC;
    border-color: #C7C7C7;
    height: 13rem;
}
.textfield2::placeholder{
    position: absolute;
    top: 1%;
}
.contact-btn{
    width: 50%;
    border-radius: 200px;
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .contact-div1{
        padding-top: 5rem;
        padding-bottom: 0rem;
    }
    .commantitle{
        text-align: center;
        font-size: 16px;
    }
    .commanp{
        font-size: 12.5px;
        margin-top: -3%;
    }
    .p2{
        width: 100%;
        position: relative;
        left: 1%;
    }
    .contact-card{
        margin-top: 1rem;
        padding: 13px;
        width: 100%;
    } 
    .formlabel{
        font-size: 15px;
    }
    .contact-btn{
        width: 50%;
        font-size: 16px;
    }
}
