.nav-logo{
    height: 100px;
    width: 172px;
}
.nav-btn{
    border-radius: 200px;
    border-color: black;
    width: 11rem;
    background-color: #ffffff;
    color: black;
    font-weight: 700;
    font-size: 16px;
}
@media screen and (max-width: 500px) {
    .nav-logo{
        height: 50px;
        width: 86px;
    }
    .nav-btn{
        font-size: 13px;
        width: 7rem;
    }
}
