.main-div{
    background-color: #F9F9F9;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.services-card{
    margin-top: 3.5rem;
}
.services-row2{
    margin-top: 1.5rem;
}

.card1-p1{
    margin-top: 7px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.card1-p{
    font-size: 14px;
    width: 102%;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 1rem;
    font-weight: 400;
    text-align: center;

}
.card1{
background-color: #ffffff; 
width: 100%;
border-radius: 5px;
border: none;
height: 100%;

}
.card1:hover {
    transform: scale(1.05);
  }
.cardimg{
    margin-top: 2rem;
    height: 35px;
    width: 35px;
    background-color: #F9F9F9;
    border-radius: 50%;
    padding: 8px;
}
.card-p{
    text-align: center;
    font-size: 14px;
}
.services-btn{
    border-radius: 200px;
    font-size: 18px;
    font-weight: 600;
    width: 20%;
    margin-top: 1.5rem;
}
.services-btn1{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 500px) {
    .main-div{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .services-card{
        margin-top:2rem;
    }
    .services-row2{
        margin-top: 0;
    }
    .card1-p1{
        margin-top: 7px;
        font-size: 17px;
    }
    .service-col1{
        margin-bottom: 1rem;
    }
    .card1-p{
        font-size: 14px;
        width: 102%;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        padding-bottom: 1rem;
        font-weight: 400;
        text-align: center;
    
    }
    .card1{
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 100%;
    }
    .cardimg{
        margin-top: 0.5rem;
        height: 35px;
        width: 35px;
        padding: 8px;
    }
    .card-p{
        text-align: center;
        font-size: 14px;
    }
    .services-btn{
        border-radius: 200px;
        font-size: 18px;
        font-weight: 600;
        width: 40%;
    }
    .services-btn1{
        padding-top: 0rem;
    }

}